/*! ui-pattern - v1.0.0 - 2014-08-06 */
// Set the variables if not allready set.
$space1: 0.5rem                       !default
$space2: 2rem                       !default
$font-std: "freight-text-pro", 'Times New Roman', helvetica     !default
$font-highlight1: "Franz Sans", helvetica                       !default
$font-highlight2: "tenso", sans-serif  !default
$font-size: 16px                       !default
$font-color: #222                      !default
$border-style: solid                   !default
$border-width: 1px                     !default
$border-color: #f00                    !default
$radius: 0px                           !default

/* Colors [BEGIN] */

// A signal-color
$primary: #00cc00
$primary: #38fd30
$border-color: $primary

// Another signal-color
$secondary: #33ff33                       !default

// An unobtrusive color
// It's used for e.g. borders.
$tertiary: #000                        !default

// A light color
// It's used für e.g. the body-background, and labels of colored buttons.
$quadrary: #fefefe                     !default

/* Colors [END] */

/* Fonts [BEGIN] */

body
  font-family: $font-std
  font-size: $font-size
  line-height: 1.625em

/* Fonts [END] */

/* Reset [BEGIN] */

*
  box-sizing: border-box

\:focus
  outline: 0

/* Reset [END] */

/* Selected Text [BEGIN] */

\::-moz-selection
  background: $primary
  color: $quadrary

\::selection
  background: $primary
  color: $quadrary

/* Selected Text [END] */

/* Headlines [BEGIN] */

h1, h2, h3, h4, h5, h6
  font-family: $font-highlight1
  font-kerning: auto
  text-rendering: optimizeLegibility
  font-feature-settings: "kern"
/* Die Extrawurst */
h1
  font-size: 1.5rem
  line-height: 1.5em
  font-weight: bold
/* Markenbezogene Überschriften */
h2
  font-size: 1.5rem
  line-height: 1.5em
  font-weight: bold
/* Redaktionelle Überschriften */
h3
  font-family: $font-highlight2
  font-size: 1.375rem
  line-height: 1.36em
  font-weight: 500
/* Blogüberschrift und Suchfeld */
h4
  font-family: $font-std
  font-size: 1.375rem
  line-height: 1.35em
  font-weight: normal
/* Register Sachen */
h5
  font-family: $font-highlight2
  font-size: 0.75rem
  text-transform: uppercase
  line-height: 1.2em
  font-weight: 500
  letter-spacing: 1px
  margin: $space1 0
/* Andere register Sachen */
h6
  font-family: $font-highlight2
  font-size: 0.75rem
  // text-transform: uppercase
  line-height: 1.2em
  font-weight: 300
  letter-spacing: 1px

h1, h2, h3, h4, h5, h6
  label
    font-weight: inherit

/* Headlines [END] */

/* Links [BEGIN] */

a
  color: $tertiary
  border-bottom: $border-width $border-style $primary
  text-decoration: none
  &:hover
    color: $primary
    border-bottom: none
    text-decoration: none
.no-link-highlighting a,
a.no-link-highlighting
  color: inherit
  border-bottom: inherit
  text-decoration: inherit
  &:hover
    color: $primary
    border-bottom: none
    text-decoration: none

/* Links [END] */

/* Paragraph [BEGIN] */

p
  line-height: 1.8em
  margin: $space1 0 $space1 0

/* Paragraph [END] */

/* Code & Pre [BEGIN] */

code
  background: $quadrary - #111
  padding: 0.1em 0.2em
  border-radius: $radius
  // white-space: nowrap
pre
  background: $quadrary - #111
  border: $border-width $quadrary - #222 $border-style
  padding: 20px
  overflow: scroll
  border-radius: $radius
  > code
    white-space: pre
  code
    padding: 0
    border: none
    background: transparent

/* Code & Pre [END] */

/* Blockquote [BEGIN] */

blockquote
  padding: 0 0 0 2.5em
  margin: 2em 0
  border-left: $border-width $border-style $primary
  font-style: italic

/* Blockquote [END] */

/* Figure [BEGIN] */

figure
  margin: 0
img
  max-width: 100%

/* Figure [END] */

/* HR [BEGIN] */

hr
  border: none
  background: $primary
  height: $border-width

/* HR [END] */


/* Labels [BEGIN] */

label
  display: block
  font-weight: bold
  abbr
    color: $primary


/* Labels [END] */

/* List [BEGIN] */

ul.cleanList
  list-style: none
  padding: 0
  margin: 0
  > li
    padding: 0
    margin: 0

/* List [END] */

/* Inputs [BEGIN] */

input,
textarea
  display: block
  width: 100%
  border:
    width: $border-width * 2
    style: $border-style
    color: $primary
  background: $quadrary - #111
  border-radius: $radius
  padding: 0.5em 2%
  font-size: 1em
  line-height: 1.5em
  transition: 0.2s

.input-group
  display: flex

.input-group
  input:first-child,
  button:first-child
    border-radius: $radius 0 0 $radius
  button:last-child,
  input:last-child
    border-radius: 0 $radius $radius 0

textarea
  resize: vertical

/* Inputs [END] */

/* Inputs Disabled || Read-Only [BEGIN] */

input,
textarea
  &[readonly],
  &:disabled
    background: $quadrary - #111
    color: $primary - #666
    background: $quadrary - #111
    color: $primary - #666

/* Inputs Disabled || Read-Only [END] */

/* See "inputs-disabled" */

/* Fieldset [BEGIN] */

fieldset
  padding: $space2
  border:
    color: $primary
    style: $border-style
    width: $border-width
  legend
    padding:
      left: 1em
      right: 1em
    font-weight: bold

/* Fieldset [END] */




/* Radio-Buttons [BEGIN] */

input[type="radio"]

/* Radio-Buttons [END] */





/* HTML5 Inputs [BEGIN] */

input[type="color"]
  min-height: 3em
  padding: 0

/* HTML5 Inputs [END] */




/* Search-Input [BEGIN] */

input[type="search"]
  border-radius: $radius

/* Search-Input [END] */


/* Fields [BEGIN] */

.field
  margin-bottom: $space1

/* Fields [END] */

/* Table [BEGIN] */

table
  width: 100%
  th
    text-align: left

/* Table [END] */


/* Section [BEGIN] */

section
  padding: 0 $space2
  border-bottom: $border-width $border-style $primary
  > *
    max-width: 1200px
    margin: $space2 auto
  &.no-vertival-margin
    > *
      margin: 0 auto

  .section-headline
    text-align: center

/* Section [END] */

/* More-Btn [BEGIN] */

.more-info
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

/* More-Btn [END] */

/* Flexbox [BEGIN] */

.flex
  display: flex
  flex-direction: row
  // justify-content: center
  justify-content: flext-start
  flex-wrap: wrap
  margin-right: -($space1)
  margin-left: -($space1)
  > *
    flex: 1 1 0
    padding: 0 $space1
    // margin: $space1 $space2
  > .flex-1
    flex-basis: 8.333%
    max-width: 8.333%
  > .flex-2
    flex-basis: 16.667%
    max-width: 16.667%
  > .flex-3
    flex-basis: 25%
    max-width: 25%
  > .flex-4
    flex-basis: 33.333%
    max-width: 33.333%
  > .flex-5
    flex-basis: 41.667%
    max-width: 41.667%
  > .flex-6
    flex-basis: 50%
    max-width: 50%
  > .flex-7
    flex-basis: 58.333%
    max-width: 58.333%
  > .flex-8
    flex-basis: 66.667%
    max-width: 66.667%
  > .flex-9
    flex-basis: 75%
    max-width: 75%
  > .flex-10
    flex-basis: 83.333%
    max-width: 83.333%
  > .flex-11
    flex-basis: 91.667%
    max-width: 91.667%
  > .flex-12
    flex-basis: 100%
    max-width: 100%

.flex-1
  flex: 1
.flex-2
  flex: 2
.flex-3
  flex: 3
.flex-4
  flex: 4
.flex-5
  flex: 5
.flex-6
  flex: 6
.flex-7
  flex: 7
.flex-8
  flex: 8
.flex-9
  flex: 9
.flex-10
  flex: 10
.flex-11
  flex: 11
.flex-12
  flex: 12

.flex-start
  justify-content: flex-start
.flex-end
  justify-content: flex-end
.flex-baseline
  align-items: baseline

.flex-end,
.flex-start
  > *
    flex: 0 1 auto
ul.flex
  list-style: none
  > li
    margin-right: 1em
  > li:last-child
    margin-right: 0

/* Flexbox [END] */

/* Content-Section [BEGIN] */

.content-section
  margin-bottom: $space2

/* Content-Section [END] */

/* Button [BEGIN] */

a.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]
  display: inline
  box-sizing: border-box
  width: 100%
  padding: 0.5em 1em
  cursor: pointer
  text:
    align: center
    decoration: none
  border: $border-width solid transparent

  font-family: $font-highlight2
  text-transform: inherit
  font-weight: 300

  border-radius: $radius
  transition: 0.3s

  background: $primary
  color: $tertiary
  &:hover
    background: $primary - #222
    color: $tertiary
    text-decoration: none

  &:hover
    text-decoration: none
    color: $quadrary
    background: $secondary - #222
  a
    text-decoration: none
  &:disabled
    background: $primary + #111
    cursor: default
  &.btn-primary
    font-size: 1.375rem
    line-height: 1.35em
  &.btn-secondary
    background: $quadrary
    display: inline
    color: $tertiary
    border: $border-width solid $primary
    &:hover
      background: $primary
      color: $tertiary
      text-decoration: none

/* Button [END] */

/* Header [BEGIN] */

header
  position: relative
  .logo-wrap
    align-self: center
  .inner
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    > *
      flex: 1
      padding: 1.5em 1em 0.5em 1em
    nav.usernav
      order: 2
      flex: 1

nav.usernav
  margin: $space2 0
nav.mainnav,
nav.usernav
  h2, h3, h4, h5, h6
    margin: 0

$mainnav-height: 26px
nav.mainnav
  padding-top: 1em
  ul
    margin-left: $mainnav-height + 5px
    li
      display: flex
      flex-direction: row
      justify-content: flext-start
      flex-wrap: wrap
      margin-left: -($mainnav-height + 5px)
      background #fff
      > *
        flex: 0 1 auto
      a
        display: block
        padding: 0 $mainnav-height / 2
        margin: 0
        line-height: $mainnav-height
        border-top: $border-width solid $primary
        h2, h3, h4, h5, h6
          line-height: $mainnav-height
          margin: 0
      .triangle-left,
      .triangle-right
        // padding-top: 1px
        height: $mainnav-height
        width: 16px
        border-top: $border-width solid #fff
        box-sizing: content-box
      .triangle-right
        background-image: url('../images/reiter-r.png')
      .triangle-left
        background-image: url('../images/reiter-l.png')
      &:hover,
      &.active
        .triangle-right
          background-image: url('../images/reiter-r-active.png')
        .triangle-left
          background-image: url('../images/reiter-l-active.png')


        a
          color: $tertiary
          background: $primary

nav.usernav
  ul
    justify-content: flex-end

/* Header [END] */

/* Icon [BEGIN] */

.icon
  width: 0.7em
  margin-right: 0.4em

/* Icon [END] */

/* nav */

.logo
  display: block
  width: 200px

.collapsed_search_controls
  header
    position: fixed
    left: 0
    right: 0
    top: 0

    // display: flex
    // flex-direction: row
    // justify-content: flex-end
    // align-items: center
    // > *
    //   flex: 1
    > *
      padding: 0em
    .logo
      margin: 0.4em 0.4em 0.4em 0
      padding: 0 1em 0 1em
    nav.mainnav
      display: none
    nav.usernav
      padding: 0 1em 0 1em

nav ul li a
  color: $tertiary
.mainnav ul li a
  &:hover
    text-decoration: none


.decoline
  height: 0.5em
#search_controls
  min-height: 22rem
  margin-bottom: 1em
.advanced-search-controls
  min-height: 13em

#search_controls
  align-items: flex-end

.start-search
  position: relative
  &:before,
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: -1
    background-color: #444
  &:after
    // position: relative
    // z-index: 10
    content: ""
    background-image: url('http://placekitten.com/1200/670')
    background-color: #fff
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.3

#search_controls,
.advanced-search-controls
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap
  > form,
  > .inner
    flex: 0 1 fit-content
    width: 60%
    // margin: 0 auto

$markit-icon-space: 2em

ul.results
  padding-top: $space1 * 4

.bookmark
  margin-top: 5px
  &.fa-bookmark
    color: $primary

.eg-logo,
.eg-poc_avatar
  padding: $space2
  border: $border-width $border-style $border-color

.eg-search-input
  font-family: $font-std
  font-size: 1.375rem

// .eg-sidebar
//   p > img
//     display: block
//     margin: 0 auto

ul.results
  list-style-type: none
  margin-bottom: $space2 * 2
  > li
    margin-bottom: 1em
ul.flatList
  margin: 1em 0
  h1, h2, h3, h4, h5, h6
    margin: 0

.highlightedtext
  // background: $secondary
  border-radius: 8px 7px 9px 4px
  box-shadow: 1px -0.175em white inset, 3px -1em 0 $primary inset

.searchparams
  padding: $space2 $space2 $space1 0
  ul
    list-style: none
    &.selectors > li li
      white-space: nowrap
  > ul
    padding: 0
    > li
      font-weight: bold
    ul
      padding-left: 1em

/* nav */

/* Decoline [BEGIN] */

.decoline
  background: $primary
  width: 100%

/* Decoline [END] */

/* Teaser [BEGIN] */

$bar-length: 1.5rem
$bar-gap: 0.5rem
.teaser
  position: relative
  background: #fff
  margin: $space2
  a:hover
    color: $tertiary
  > a,
  img
    display: block
  img
    opacity: 0.15
  .front
    position: absolute
    border: $border-width $border-style $border-color
    top: $space1
    bottom: $space1
    left: $space1
    right: $space1
    padding: $space2 * 1.5
    display: flex
    flex-direction: column
    h1, h2, h3, h4, h5, h6
      margin-top: 0
  .front
    transition: background 0.3s
  &:hover .front
    background: $primary
  .teaser-tag
    position: absolute
    bottom: $space2
    &:before
      content: ""
      display: inline-block
      border-radius: 1em
      height: 3px
      margin: 0.2em $bar-gap 0.2em (-$bar-length + -$bar-gap)
      width: $bar-length
      background: $border-color

/* Teaser [END] */































/* Floating [BEGIN] */

.left
  float: left

.right
  float: right

.clearit
  height: 0 !important
  width: 0 !important
  line-height: 0 !important
  clear: both !important
  float: none !important

.clearfix:after
  content: '.'
  display: block
  height: 0
  clear: both
  visibility: hidden
  font-size: 0
  clear: both

/* Floating [END] */

/* Body-Background [BEGIN] */

body
  margin: 0
  background: $quadrary

/* Body-Background [END] */


/* advanced-search-controls [BEGIN] */

.advanced-search-controls
  margin-bottom: 4em
  position: relative
  .options
    background: $quadrary
    border: $border-width $border-style $primary
    padding: 4em
    margin-top: 2em
    z-index: 10
    position: absolute
    left: 0
    top: 0
    right: 0

  .inner
    margin: 1em 0
  .btn-secondary
    position: relative
    z-index: 20
    font-size: 1rem
  .options
    // .btn-secondary
    //   float: right
    .btn-wrap
      margin-bottom: -5em
      text-align: center
    > .inner:first-child
      margin-top: 0
    > .inner
      margin: 4em 0

/* advanced-search-controls [END] */

/* Checkbox [BEGIN] */

$fancyCheckbox-size: 18px

.fancyCheckbox
  width: $fancyCheckbox-size
  position: relative
  label
    width: $fancyCheckbox-size
    height: $fancyCheckbox-size
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    // background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
    background: #ccc
    border-radius: 4px
    // border: 1px solid #ccc
    // box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5)
    &:after
      content: ''
      width: 0.7 * $fancyCheckbox-size
      height: 0.3 * $fancyCheckbox-size
      position: absolute
      top: 0.1 * $fancyCheckbox-size
      left: 0.0 * $fancyCheckbox-size
      border: 0.25 * $fancyCheckbox-size solid $quadrary
      border-top: none
      border-right: none
      background: transparent
      opacity: 0
      transform: rotate(-45deg)
    &:hover::after
      opacity: 0.5
      opacity: 1
  input[type=checkbox]
    visibility: hidden
    &:checked + label:after
      opacity: 1
      border-color: #fff

      border-color: $primary

.checked .fancyCheckbox
  label
    background: $primary

    background: #eee

/* Checkbox [END] */

/* checkbox-list [BEGIN] */

ul.checkbox-list
  padding: 0
  margin-bottom: $space1 * 2
  > li
    margin: 0.3em 0
    a,
    input,
    .fancyCheckbox,
    label,
    h1, h2, h3, h4, h5, h6
      display: inline
    input
      margin-right: 0.6em
    a,
    input,
    .fancyCheckbox
      width: auto
    label,
    h1, h2, h3, h4, h5, h6
      font-weight: normal
  h1, h2, h3, h4, h5, h6
    display: inline
    margin: 0


/* checkbox-list [END] */


/* Overlay [BEGIN] */

.overlay-placeholder
  position: absolute
  top: 0
  left: 0
  width: 100%
  bottom: 0
  z-index: 100
  overflow: scroll
  .inner-wrap
    padding: $space2
    .inner
      box-shadow: 2px 2px 26px rgba(0,0,0,0.2)
      border: $border-width * 2 $border-style $primary
      background: #fff
      padding: 2em

/* Overlay [END] */

/* Footer [BEGIN] */

.footer
  background: $primary
  padding: 1px 0
  a:hover
    text-decoration: underline
    color: $tertiary
footer
  padding: $space1 * 4 0
  .logo
    margin-bottom: $space1 * 2
  h2, h3, h4, h5, h6,
  ul li
    margin: 1rem 0
    a
      color: $tertiary


/* Footer [END] */
