/*! ui-pattern - v1.0.0 - 2014-08-06 */
// Set the variables if not allready set.
$page-width: 1200px                    !default
$space-t-b: 1rem                       !default
$space-l-r: 2rem                       !default
$font-std: 'FreightText Pro', 'Times New Roman', helvetica      !default
$font-highlight1: 'Franz Sans', helvetica                       !default
$font-highlight2: 'Tenso', 'Fira Mono', 'Courier New', courier  !default
$font-size: 16px                       !default
$font-color: #222                      !default
$border-style: solid                   !default
$border-width: 1px                     !default
$border-color: #00ff00                 !default
$radius: 0px                           !default

/* Colors [BEGIN] */

// A signal-color
$primary: #38fd30
$primary: #00cc00

// Another signal-color
$secondary: #33ff33                       !default

// An unobtrusive color
// It's used for e.g. borders.
$tertiary: #000                        !default

// A light color
// It's used für e.g. the body-background, and labels of colored buttons.
$quadrary: #fefefe                     !default

/* Colors [END] */

/* Fonts [BEGIN] */

body
  font-family: $font-std
  font-size: $font-size
  line-height: 1.625em

/* Fonts [END] */

/* Reset [BEGIN] */

*
  box-sizing: border-box

\:focus
  outline: 0

/* Reset [END] */

/* Selected Text [BEGIN] */

\::-moz-selection
  background: $primary
  color: $quadrary

\::selection
  background: $primary
  color: $quadrary

/* Selected Text [END] */

/* Headlines [BEGIN] */

h1, h2, h3, h4, h5, h6
  font-family: $font-highlight1
/* Die Extrawurst */
h1
  font-size: 1.5rem
  line-height: 1.5rem
  font-weight: bold
/* Markenbezogene Überschriften */
h2
  font-size: 1.5rem
  line-height: 1.5rem
  font-weight: bold
/* Redaktionelle Überschriften */
h3
  font-family: $font-highlight2
  font-size: 1.375rem
  line-height: 1.36rem
  font-weight: bold
/* Blogüberschrift und Suchfeld */
h4
  font-family: $font-std
  font-size: 1.375rem
  line-height: 1.36rem
  font-weight: normal
/* Register Sachen */
h5
  font-family: $font-highlight2
  font-size: 0.75rem
  text-transform: uppercase
  line-height: 1.16666666667em
  font-weight: normal
  font-weight: bold
  letter-spacing: 1px
/* Andere register Sachen */
h6
  font-family: $font-highlight2
  font-size: 0.75rem
  // text-transform: uppercase
  line-height: 1.2rem
  font-weight: normal
  letter-spacing: 1px

h1, h2, h3, h4, h5, h6
  label
    font-weight: inherit

/* Same as H4 */
#search_controls input,
#search_controls a.btn
  font-family: $font-std
  font-size: 1.375rem
  line-height: 1.36rem
  font-weight: normal
#search_controls a.btn
  font-family: $font-highlight2
  font-weight: bold

/* Headlines [END] */

/* Links [BEGIN] */

a
  color: $primary
  text-decoration: none
  &:hover
    text-decoration: underline

/* Links [END] */

/* Paragraph [BEGIN] */

p
  line-height: 1.6em

/* Paragraph [END] */

/* Code & Pre [BEGIN] */

code
  background: $quadrary - #111
  padding: 0.1em 0.2em
  border-radius: $radius
  // white-space: nowrap
pre
  background: $quadrary - #111
  border: $border-width $quadrary - #222 $border-style
  padding: 20px
  overflow: scroll
  border-radius: $radius
  > code
    white-space: pre
  code
    padding: 0
    border: none
    background: transparent

/* Code & Pre [END] */

/* Blockquote [BEGIN] */

blockquote
  padding: 0 0 0 2.5em
  margin: 2em 0
  border-left: $border-width $border-style $primary
  font-style: italic

/* Blockquote [END] */

/* Figure [BEGIN] */

img
  max-width: 100%

/* Figure [END] */

/* HR [BEGIN] */

hr
  border: none
  background: $primary
  height: $border-width

/* HR [END] */


/* Labels [BEGIN] */

label
  display: block
  font-weight: bold
  abbr
    color: $primary


/* Labels [END] */

/* Inputs [BEGIN] */

input,
textarea
  display: block
  width: 100%
  border:
    width: $border-width * 2
    style: $border-style
    color: $primary
  background: $quadrary - #111
  border-radius: $radius
  padding: 0.3em 2%
  font-size: 1em
  line-height: 1.5em
  transition: 0.2s
  // &:focus
  //   border-color: $secondary

.input-group
  display: flex
  > *
    flex: 6
  .input-group-btn
    flex: 1


// .input-group
//   display: table
//   width: 100%

// .input-group-btn
//   margin: 0
//   padding: 0

.input-group input:first-child,
.input-group button:first-child
  border-radius: $radius 0 0 $radius
.input-group button:last-child,
.input-group input:last-child
  border-radius: 0 $radius $radius 0

textarea
  resize: vertical

/* Inputs [END] */

/* Inputs Disabled || Read-Only [BEGIN] */

input,
textarea
  &[readonly],
  &:disabled
    background: $quadrary - #111
    color: $primary - #666
    background: $quadrary - #111
    color: $primary - #666

/* Inputs Disabled || Read-Only [END] */

/* See "inputs-disabled" */

/* Fieldset [BEGIN] */

fieldset
  padding: $space-l-r
  border:
    color: $primary
    style: $border-style
    width: $border-width
  legend
    padding:
      left: 1em
      right: 1em
    font-weight: bold

/* Fieldset [END] */




/* Radio-Buttons [BEGIN] */

input[type="radio"]

/* Radio-Buttons [END] */





/* HTML5 Inputs [BEGIN] */

input[type="color"]
  min-height: 3em
  padding: 0

/* HTML5 Inputs [END] */




/* Search-Input [BEGIN] */

input[type="search"]
  border-radius: $radius

/* Search-Input [END] */


/* Fields [BEGIN] */

.field
  margin-bottom: $space-t-b

/* Fields [END] */

/* Table [BEGIN] */

table
  width: 100%
  th
    text-align: left

/* Table [END] */








/* Button [BEGIN] */

a.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]
  display: block
  box-sizing: border-box
  width: 100%
  padding: 0.5em 1em
  cursor: pointer
  color: $quadrary
  text:
    align: center
    decoration: none
  background: $tertiary
  border: 1px solid transparent

  font-family: $font-highlight2
  font-size: 0.625em
  text-transform: uppercase
  line-height: 1.2em
  font-weight: bold



  border-radius: $radius
  transition: 0.3s
  &:hover
    text-decoration: none
    color: $quadrary
    background: $secondary - #222
  a
    text-decoration: none
  &:disabled
    background: $primary + #111
    cursor: default
  &.btn-primary
    background: $primary
    color: $tertiary
    &:hover
      background: $primary - #222
      color: $tertiary
      text-decoration: none
  &.btn-secondary
    background: $quadrary
    color: $tertiary
    border: 1px solid $primary
    &:hover
      background: $primary
      color: $tertiary
      text-decoration: none

/* Button [END] */

/* Header [BEGIN] */

header
  position: relative
  .inner
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    > *
      flex: 1
      padding: 1.5em 1em 0.5em 1em
    .logo
      flex: 0 1 auto
    #search_controls_alternative
      display: none
    nav.usernav
      order: 2
      flex: 1
  .header-inner-1
    margin: 1em 0

nav.usernav
  h5
    display: inline
nav.mainnav,
nav.usernav
  h2, h3, h4, h5, h6
    margin: 0
  ul
    display: flex
    flex-direction: row
    li
      flex: 0 1 auto

nav.usernav
  ul
    li:before
      margin: 0 0.4em 0 0.6em
      content: '|'
    li:first-child:before
      display: none

nav.mainnav
  padding-left: 15em
  ul
    justify-content: flex-start
    margin: 0
    li
      // a,
      // &:after
      //   transition: color 0.3s, background 0.3s
      display: flex
      flex-direction: row
      // justify-content: center
      justify-content: flext-start
      // align-items: baseline
      flex-wrap: wrap
      margin-left: -1em
      background #fff
      > *
        flex: 0 1 auto
      a
        display: block
        padding: 0 1.2em
        margin: 0
        line-height: 36px
        border-top: 1px solid $primary
        h2, h3, h4, h5, h6
          line-height: 3em
          margin: 0
      .triangle-left,
      .triangle-right
        // padding-top: 1px
        height: 36px
        width: 16px
        border-top: 1px solid #fff
        box-sizing: content-box
      .triangle-right
        background-image: url('../images/reiter-r.png')
      .triangle-left
        background-image: url('../images/reiter-l.png')
      &:hover,
      &.active
        .triangle-right
          background-image: url('../images/reiter-r-active.png')
        .triangle-left
          background-image: url('../images/reiter-l-active.png')


        a
          color: $tertiary
          background: $primary

nav.usernav
  ul
    justify-content: flex-end

/* Header [END] */

/* Icon [BEGIN] */

.icon
  width: 0.7em
  margin-right: 0.4em

/* Icon [END] */

/* nav */

.header
  background: $quadrary
  border-bottom: $border-width $border-style $primary

.collapsed_search_controls
  header
    position: fixed
    left: 0
    right: 0
    top: 0

    // display: flex
    // flex-direction: row
    // justify-content: flex-end
    // align-items: center
    // > *
    //   flex: 1
    > *
      padding: 0em
    .logo
      margin: 0.4em 0.4em 0.4em 0
      width: 200px
      padding: 0 1em 0 1em
    #search_controls_alternative
      display: block
      flex: 2
    nav.mainnav
      display: none
    nav.usernav
      padding: 0 1em 0 1em

#search_controls_alternative
  margin: 0
#search_controls_alternative input
  padding: 0 0.6em
  background: $quadrary - #111
  height: 54px
#search_controls_alternative .input-group-btn
  padding: 0
  //border-bottom:0
  //border-top:0

#search_controls_alternative .input-group-btn button
  height: 54px
  //display: none
#search_controls_alternative input
  border-radius: 0
  border-width: 0 $border-width 0 $border-width


footer,
nav
  ul,
  ul li
    padding: 0
    list-style-type: none

nav
  text-transform: uppercase
  ul li a
    color: $tertiary
    font-weight: bold
    text-decoration: none
    &:hover
      color: $primary
      text-decoration: none


.decoline
  height: 0.5em
#search_controls
  min-height: 22rem
  margin-bottom: 1em
.advanced-search-controls
  min-height: 13em

#search_controls::after
  content: ""
  //background-image: url('http://placekitten.com/1200/670')
  background-color: #fff
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  opacity: 0.3
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: -1

#search_controls
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-end
  flex-wrap: wrap
  form
    flex: 0 1 fit-content
    width: 70%

$markit-icon-space: 2em

.results
  padding-top: 2em
  ul.result_list
    li
      padding: 0
      list-style-type: none

      display: flex
      flex-direction: row
      // justify-content: center
      align-items: flex-start
      flex-wrap: wrap
      > *
        flex: 0 1 fit-content
        flex: 1
        // width: 70%
      .bookmark
        font-size: 1.5rem
        flex: 0
        margin-right: 0.5em
        padding: 0 0.3em
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        cursor: pointer
        &.active
          color: $primary
      .eg_name
        margin-top: 0

      // .eg_name:before
      //   width: $markit-icon-space
      //   margin-left: -(1em + 1em)
      //   margin-right: 1em
      //   content: ☆
      // &.bookmark .eg_name:before
      //   content: ★
ul.result_list
  padding: 0
  // padding-left: $markit-icon-space * 2
  list-style-type: none
  > li
    margin-bottom: 3em
ul.meta
  padding: 0
  margin: 1em 0

  display: flex
  flex-direction: row
  justify-content: flex-start
  h1, h2, h3, h4, h5, h6
    margin: 0
  > li
    flex: 1 1 auto
    flex: 0 1 auto
    margin-right: 2em

.highlightedtext
  // background: $secondary
  border-radius: 8px 7px 9px 4px
  box-shadow: 1px -0.175em white inset, 3px -1em 0 $primary inset

.searchparams
  padding: $space-t-b $space-l-r $space-t-b 0
  ul
    list-style: none
    &.selectors > li li
      font-weight: normal
      white-space: nowrap
  > ul
    padding: 0
    > li
      font-weight: bold
    ul
      padding-left: 1em






.page_wrap
  max-width: 1200px
  margin: 0 auto

/* nav */

/* Decoline [BEGIN] */

.decoline
  background: $primary
  width: 100%

/* Decoline [END] */
































/* Floating [BEGIN] */

.left
  float: left

.right
  float: right

.clearit
  height: 0 !important
  width: 0 !important
  line-height: 0 !important
  clear: both !important
  float: none !important

.clearfix:after
  content: '.'
  display: block
  height: 0
  clear: both
  visibility: hidden
  font-size: 0
  clear: both

/* Floating [END] */

/* Body-Background [BEGIN] */

body
  margin: 0
  background: $quadrary

/* Body-Background [END] */

/* advanced-search-controls [BEGIN] */

.advanced-search-controls
  margin-bottom: 4em
  .options
    border: $border-width $border-style $primary
    padding: 4em
    margin-top: -1em
    position: relative
    z-index: 0
  .inner
    width: 70%
    margin: 0 auto
  .inner,
  .options
    .btn-secondary
      background: $quadrary
      position: relative
      z-index: 1

      margin: 3em 0 0 0
      width: 20em
      font-size: 1rem
  .options
    .btn-secondary
      float: right
  section:first-child
    margin-top: 0
  section
    margin: 4em 0

.col-30-30-30
  display: flex
  flex-direction: row
  justify-content: center
  align-items: baseline
  flex-wrap: wrap
  > li
    display: inline-block
  > *
    flex: 1 1 auto
    width: 30%

.flex
  display: flex
  flex-direction: row
  // justify-content: center
  justify-content: flext-start
  align-items: baseline
  flex-wrap: wrap
  > *
    flex: 0 1 auto




/* advanced-search-controls [END] */

/* Checkbox [BEGIN] */

$fancyCheckbox-size: 18px

.fancyCheckbox
  width: $fancyCheckbox-size
  position: relative
  label
    width: $fancyCheckbox-size
    height: $fancyCheckbox-size
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    // background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
    background: #ccc
    border-radius: 4px
    // border: 1px solid #ccc
    // box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5)
    &:after
      content: ''
      width: 0.7 * $fancyCheckbox-size
      height: 0.3 * $fancyCheckbox-size
      position: absolute
      top: 0.1 * $fancyCheckbox-size
      left: 0.0 * $fancyCheckbox-size
      border: 0.25 * $fancyCheckbox-size solid $quadrary
      border-top: none
      border-right: none
      background: transparent
      opacity: 0
      transform: rotate(-45deg)
    &:hover::after
      opacity: 0.5
      opacity: 1
  input[type=checkbox]
    visibility: hidden
    &:checked + label:after
      opacity: 1
      border-color: #fff

      border-color: $primary

.checked .fancyCheckbox
  label
    background: $primary

    background: #eee

/* Checkbox [END] */

/* checkbox-list [BEGIN] */

ul.checkbox-list
  padding: 0
  margin-bottom: $space-t-b * 2
  > li
    margin: 0.3em 0
    a,
    input,
    .fancyCheckbox,
    label,
    h1, h2, h3, h4, h5, h6
      display: inline
    input
      margin-right: 0.6em
    a,
    input,
    .fancyCheckbox
      width: auto
    label,
    h1, h2, h3, h4, h5, h6
      font-weight: normal
  h1, h2, h3, h4, h5, h6
    display: inline
    margin: 0
  li.checked
    color: $primary


/* checkbox-list [END] */




/* TwoCol [BEGIN] */

.two-col
  display: flex
  flex-direction: row
  justify-content: flex-start
  //align-items: baseline
  flex-wrap: wrap
  > *
    flex: 1
  .col-1
    flex: 1
  .col-2
    flex: 3

/* TwoCol [END] */



/* Overlay [BEGIN] */

.overlay-placeholder
  position: absolute
  top: 0
  left: 0
  width: 100%
  bottom: 0
  // min-height: 1200px
  // background: rgba(0,0,0,0.1)

  // background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0) 100%)
  z-index: 100
  overflow: scroll
  .inner-wrap
    padding: $space-l-r
    .inner
      box-shadow: 2px 2px 26px rgba(0,0,0,0.2)
      border: $border-width * 2 $border-style $primary
      background: #fff
      padding: 2em

/* Overlay [END] */


/* Footer [BEGIN] */

footer
  padding: $space-l-r
  border: $border-width $border-style $primary
  padding: $space-t-b * 4 0
  .logo
    margin-bottom: $space-t-b * 2
    display: block
  .flex
    width: 70%
    > *
      flex: 1 0 auto
  h2, h3, h4, h5, h6,
  ul li
    margin: 1rem 0
    a
      color: $tertiary


/* Footer [END] */
